@import "variables.css";

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--font-family-base), system-ui;
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
    line-height: var(--font-body-line);

    font-kerning: normal;
    font-feature-settings: "kern" 1;
    letter-spacing: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--color-text-main);
    background: var(--color-bg);

    padding: 0 43px;
}

h1, h2, h3 {
    font-kerning: normal;
    font-feature-settings: "kern" 1;
    letter-spacing: 0;
}

h1 {
    margin: 0;

    font-size: var(--font-h1-size);
    font-weight: var(--font-h1-weight);
    line-height: var(--font-h1-line);
}

h2 {
    margin: 0;

    font-size: var(--font-h2-size);
    font-weight: var(--font-h2-weight);
    line-height: var(--font-h2-line);
}

h3 {
    margin: 0;

    font-size: var(--font-h3-size);
    font-weight: var(--font-h3-weight);
    line-height: var(--font-h3-line);
}

p {
    margin: 0;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

.caption {
    font-size: var(--font-caption-size);
    line-height: var(--font-caption-line);
    font-weight: var(--font-caption-weight);
}

.code {
    font-family: var(--font-family-mono);
    font-size: var(--font-mono-size);
    line-height: var(--font-mono-line);
    font-weight: var(--font-mono-weight);
}

.body-accent {
    font-weight: var(--font-body-accent-weight);
}

.page {
    min-height: 100vh;
    max-width: 1140px;
    margin: auto;

    display: grid;
    grid-template-rows: auto 1fr;
}

.main {
    padding: var(--grid-margin) 0;

    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    gap: var(--grid-gutter);

    grid-template-areas: ". . main main main main main main main main . .";

    box-sizing: border-box;
}

.footer {
    height: var(--footer-height);

    display: flex;
    justify-content: center;
    align-items: start;

    color: var(--color-text-secondary);
}

@media (max-width: 1200px) {
    :root {
        --grid-columns: var(--grid-columns-tablet);
        --grid-content-columns: var(--grid-content-columns-tablet);
        --grid-gutter: var(--grid-gutter-tablet);
        --grid-margin: var(--grid-margin-tablet);
    }

    .page {
        max-width: 704px;
    }

    .main {
        grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
        grid-template-areas: "main main main main main main main main";
        gap: var(--grid-gutter);
    }
}

@media (max-width: 640px) {
    :root {
        --grid-columns: var(--grid-columns-mobile);
        --grid-content-columns: var(--grid-content-columns-mobile);
        --grid-gutter: var(--grid-gutter-mobile);
        --grid-margin: var(--grid-margin-mobile);
    }

    .page {
        max-width: 328px;
    }

    .main {
        grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
        grid-template-areas: "main main main main";
        gap: var(--grid-gutter);
    }
}