.banner {
    display: none;

    position: fixed;
    inset: 0;

    z-index: 10;

    background: color-mix(in srgb, var(--color-text-secondary) 40%, transparent);

    justify-content: center;
    align-items: center;

    padding: var(--space-16);
    box-sizing: border-box;
}

.banner--open {
    display: flex;
}

.banner__overlay {
    width: min(550px, 100%);
    max-height: calc(100vh - (var(--space-16) * 2));
    overflow: auto;

    border: 1px solid var(--color-error);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-e3);

    background-color: color-mix(in srgb, var(--color-error) 5%, var(--color-surface));

    padding: var(--space-16) var(--space-24);
    box-sizing: border-box;
}

.banner__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
}

.banner__header {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
}

.banner__body {
}

.banner__footer {
    margin-top: var(--space-16);
}