.header {
    height: var(--header-height);
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--color-bg);
    padding: var(--space-16) 0;

    position: relative;
    z-index: 1;

    border-bottom: 1px solid var(--color-border);
}

.header__nav {
    display: flex;
    gap: var(--space-8);
}

.header__link {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: var(--font-body-accent-weight);
}

.header__burger {
    display: none;
    background: none;
    border: 0;
    padding: var(--space-8);
    cursor: pointer;
}

.header__burger__img {
    display: block;
    width: 24px;
    height: 24px;
}

.header__nav.header--menu-mobile {
    justify-content: end;
}

@media (max-width: 1200px) {
    .header {
        max-width: 704px;
    }
}

@media (max-width: 640px) {
    .header__nav {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        bottom: 0;

        background: var(--color-bg);

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        gap: var(--space-24);
        padding: var(--space-64) var(--space-16);
        box-sizing: border-box;

        transform: translateY(calc(100% + var(--header-height)));
        transition: transform var(--animation-normal) ease;
        z-index: 0;
    }

    .header.header--menu-open .header__nav {
        transform: translateY(0);
    }

    .header__burger {
        display: block;
    }

    .header__nav .btn {
        border: none;

        color: var(--color-text-main);
        background: none;
    }
}