.quiz-generator {
    grid-area: main;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-32);
}

.quiz-generator__header {
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.quiz-generator__title {

}

.quiz-generator__subtitle {
    color: var(--color-text-secondary);
}

.quiz-generator__label {
    display: flex;
    flex-direction: column;

    gap: var(--space-4);

    color: var(--color-text-secondary);
}

.quiz-generator__label span {
    padding: 0 var(--space-12);
}

.quiz-generator__input {
    resize: none;
    box-sizing: border-box;

    padding: var(--space-12);

    border: 1px solid transparent;
    border-radius: var(--radius-xs);

    box-shadow: var(--shadow-e1);

    transition: box-shadow var(--animation-normal), border-color var(--animation-normal);
}

.quiz-generator__input:focus {
    outline: none;
    box-shadow: none;
}

.quiz-generator__input:focus-visible {
    outline: none;
    border: solid 1px var(--color-primary);
    box-shadow: var(--shadow-e2);
}

.quiz-generator__input--error {
    border: solid 1px var(--color-error);
    box-shadow: var(--shadow-e2);
}

.quiz-generator__submit {
    align-self: start;
}