.main {
    grid-template-areas: "quizzes quizzes quizzes quizzes quizzes quizzes quizzes quizzes quizzes quizzes quizzes quizzes";
}

@media (max-width: 1200px) {
    .main {
        grid-template-areas: "quizzes quizzes quizzes quizzes quizzes quizzes quizzes quizzes";
    }
}

@media (max-width: 640px) {
    .main {
        grid-template-areas: "quizzes quizzes quizzes quizzes";
    }
}

.quizzes {
    grid-area: quizzes;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--space-32);
}

.quizzes__header {
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.quizzes__title {

}

.quizzes__content {
    display: grid;
    grid-template-columns: repeat(var(--grid-content-columns), minmax(0, 1fr));
    gap: var(--grid-gutter);

    box-sizing: border-box;
}

.quizzes__empty {
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    gap: var(--space-8);
}

.quizzes__empty-title {

}

.quizzes__empty-subtitle {
    color: var(--color-text-secondary);

    margin-bottom: var(--space-8);
}

.quizzes__empty-action {
    align-self: start;
}

@media (max-width: 640px) {
    .quizzes {
        position: relative;
    }

    .quizzes__empty-action {
        position: absolute;
        bottom: 0;

        width: 100%;
    }
}