.main {
    grid-template-areas: ". . quiz quiz quiz quiz quiz quiz quiz quiz . .";
}

@media (max-width: 1200px) {
    .main {
        grid-template-areas: "quiz quiz quiz quiz quiz quiz quiz quiz";
    }
}

@media (max-width: 640px) {
    .main {
        grid-template-areas: "quiz quiz quiz quiz";
    }
}

.quiz {
    grid-area: quiz;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--space-24);
}

.quiz__header {

}

.quiz__title {

}

.quiz__subtitle {
    color: var(--color-text-secondary);
}

.quiz__progress {

}

.quiz__progress-text {
    color: var(--color-text-secondary);
}

.quiz__progress-current {

}

.quiz__progress-total {

}

.quiz__progress-bar {

}

.quiz__question {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--space-24);
}

.quiz__question-header {

}

.quiz__question-title {

}

.quiz__question-subtitle {
    color: var(--color-text-secondary);
}

.quiz__form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--space-24);
}

.quiz__form--locked .choice {
    pointer-events: none;
}

.quiz__options {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-8);
}

.quiz__option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}

.quiz__submit {
    align-self: start;
}